main {
  background-color: darkgray;
  border: .2em solid #444;
  border-radius: .2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  margin: auto;
  padding: 10px;
  font-size: large;
}

button {
  font-size: large;
  aspect-ratio: 1;
}

.action {
  width: 50%;
}

.display {
  margin: auto;
}

.num-display {
  background-color: #444;
  border: .2em solid white;
  border-radius: .2em;
  color: white;
  width: 3em;
  margin: 0.2em auto;
  padding: 1em;
}